# Example of joining multiple CSV files into a Pandas DataFrame

This is based on a real-world example of recording student scores for each class lecture, where the student email aaddress and score is stored in a separate CSV file for each lecture.

The result should be a DataFrame with a sorted list of all student email addresses and their corresponding score for each lecture, with NaN in place where the student did not have score recorded for the lecture.

In [1]:
# Unix style pathname pattern expansion
# https://docs.python.org/2/library/glob.html
import glob

import pandas as pd

In [3]:
# create a dataframe with a single empty column named 'email'
result = pd.DataFrame({'email':[]})
# set the 'email' column as our index which we'll use for joining later
result = result.set_index('email')

# read in the list of files named lecture*.csv from the current directory
lectures = glob.glob('lecture*.csv')
for filename in lectures:
    lecname = filename.rsplit('.csv')[0] # remove the .csv extension
    df = pd.read_csv(filename)
    df = df.drop(['name'], axis=1) # drop any columns we don't need; axis 1 means 'column'
    df = df.set_index('email') # set the index on this dataframe to match our result dataframe index

    # using the 'email' column perform an 'outer join', sorting the results based on the join key
    # and uniquely name the right-hand joined score columns based on the lecture name as a suffix
    result = result.join(df, on='email', how='outer', rsuffix=f"_{lecname}", sort=True)
result

                        score  score_lecture4  score_lecture23
email
student1@berkeley.edu    92.0            90.0             93.0
student2@berkeley.edu    90.0            92.0             98.0
student3@berkeley.edu    77.0             NaN             87.0
student4@@berkeley.edu    NaN            88.0              NaN
student4@berkeley.edu    91.0             NaN             94.0
student5@berkeley.edu    88.0             NaN              NaN